@model ArtWarehouse.Models.ModelsView.GoodsCompleteInfo_MV

@{
    ViewData["Title"] = "Склад";
}

<head>
    <link rel="stylesheet" href="~/css/warehouse/warehouse.css" />
</head>

<div class="warehouse-content">
    <div class="warehouse-control-panel">
        <div class="list-sort-block">
            <span class="sort-panel-label">Отобразить как:</span>
            <a class="sort-link" asp-controller="Warehouse" asp-action="Index">Полный список</a>
            <a class="sort-link sort-link_active">По категориям</a>
            <a class="sort-link" asp-controller="Warehouse" asp-action="MakerSort">По производителям</a>
        </div>
        <div class="list-search-block">
            <form asp-controller="Warehouse" asp-action="SearchResult" class="warehouse-form-search" method="get">
                <input class="list-search-block__input" type="text" name="searchRequest" />
            </form>
            <label class="list-search-block__btn">
                <span>Найти</span>
                <i class="fas fa-search"></i>
            </label>
        </div>
        <div class="list-control-block">
            <a class="worklist-link-clean mr-2 worklist-link-clean_hide">
                Очистить&nbsp;
                <i class="fas fa-hand-sparkles"></i>
            </a>
            <a class="worklist-link print-link">
                Печать&nbsp;
                <i class="fas fa-print"></i>
            </a>
        </div>

    </div>

    <div class="warehouse-table">
        @if (Model.categoriesList.Count() > 0)
        {
            @foreach (var category in Model.categoriesList)
            {
                <h1 class="category-title">@category.category_name</h1>
                <table class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>
                                Наименование
                            </th>
                            <th>
                                Производитель
                            </th>
                            <th class="text-center pl-0 pr-0">
                                Остаток
                            </th>
                            <th class="text-center pl-0 pr-0">
                                Дата изменения
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.goodsList.Where(u => u.goods_category_id == category.category_id))
                        {
                            <tr class="goods-row" data-goodsid="@item.goods_id" style="color: @(item.remaining_goods < 5 ? "blue" : "black")">
                                <td style="width: 30%">
                                    @item.goods_name
                                </td>
                                <td style="width: 30%">
                                    @Model.makersList.FirstOrDefault(u => u.maker_id == item.maker_id).maker_name
                                </td>
                                <td style="width: 7%" class="cell-with-remaining-data text-center" data-remaining="@item.remaining_goods">
                                    @item.remaining_goods
                                </td>
                                <td style="width: 13%" class="text-center">
                                    @item.update_date.ToShortDateString()
                                </td>
                                <td style="width: 15%;">
                                    <div class="control-cell">
                                        <a class="item-control btn btn-outline-info btn-sm mr-2" 
                                           asp-controller="Warehouse"
                                           asp-action="RequestFor_CardOfGoods"
                                           asp-route-id="@item.goods_id">
                                            <i class="far fa-eye"></i>
                                        </a>
                                        <a class="item-control item-control-add btn btn-outline-info btn-sm add-delete-goods-to-list">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    </div>
    <form id="dataForm" method="post" asp-controller="Print" asp-action="Index" style="display: none;">
        <input type="hidden" id="dataInput" name="data">
    </form>
</div>

@section Scripts {
    <script src="~/js/selectedListToPrint.js"></script>
    <script src="~/js/contentHeightSize.js"></script>
    <script src="~/js/workList.js"></script>
    <script>
        const formSearch = document.querySelector('.warehouse-form-search');
        const searchInput = document.querySelector('.list-search-block__input');
        const searchBtn = document.querySelector('.list-search-block__btn');

        searchInput.value = '';

        searchBtn.addEventListener('click', (e) => {
            const inputData = searchInput.value;

            if (inputData === '') {
                return;
            }

            formSearch.submit();
            searchInput.value = '';
        });

        const cellsWithRemainingData_List = document.querySelectorAll('.cell-with-remaining-data');

        if ([...cellsWithRemainingData_List].some(item => item.dataset.remaining < 5)) {
            alert('На остатках есть товар в количестве менее 5 штук.\nТакие позиции выделены синим цветом.')
        }
    </script>
}

