@model ArtWarehouse.Models.ModelsView.GoodsCompleteInfo_MV

@{
    ViewData["Title"] = "Склад";
}

<head>
    <link rel="stylesheet" href="~/css/warehouse/warehouse.css" />
</head>

<div class="warehouse-content">
    <div class="warehouse-sort-panel">
        <span class="sort-panel-label">Отобразить как:</span>
        <a class="sort-link" asp-controller="Warehouse" asp-action="Index">Полный список</a>
        <a class="sort-link" asp-controller="Warehouse" asp-action="CategorySort">По категориям</a>
        <a class="sort-link sort-link_active">По производителям</a>
    </div>

    <div class="warehouse-table">
        @if (Model.makersList.Count() > 0)
        {
            @foreach (var maker in Model.makersList)
            {
                <h1 class="category-title">@maker.maker_name</h1>
                <table class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>
                                Наименование
                            </th>
                            <th>
                                Категория
                            </th>
                            <th class="text-center pl-0 pr-0">
                                Остаток
                            </th>
                            <th class="text-center pl-0 pr-0">
                                Дата изменения
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.goodsList.Where(u => u.maker_id == maker.maker_id))
                        {
                            <tr>
                                <td style="width: 30%; font-size: 12px;">
                                    @item.goods_name
                                </td>
                                <td style="width: 30%; font-size: 12px;">
                                    @Model.categoriesList.FirstOrDefault(u => u.category_id == item.goods_category_id).category_name
                                </td>
                                <td style="width: 7%; font-size: 12px;" class="text-center">
                                    @item.remaining_goods
                                </td>
                                <td style="width: 13%; font-size: 12px;" class="text-center">
                                    @item.update_date.ToShortDateString()
                                </td>
                                <td style="width: 15%;">
                                    <div class="control-cell">
                                        <a class="item-control btn btn-outline-info btn-sm mr-2" data-toggle="tooltip" data-placement="top" title="Подробнее о товаре">
                                            <i class="far fa-eye"></i>
                                        </a>
                                        <a class="item-control btn btn-outline-info btn-sm" data-toggle="tooltip" data-placement="top" title="Добавить в рабочий список">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    </div>

</div>

@section Scripts {
    <script>
        const screenHeight = document.documentElement.clientHeight;
        const header = document.querySelector('.header');
        const contentHeight = screenHeight - header.offsetHeight;

        const contentElement = document.querySelector('.warehouse-content');
        contentElement.style.height = `${contentHeight}px`;

        const warehouseSortPanelElement = document.querySelector('.warehouse-sort-panel');
        const warehouseTableElement = document.querySelector('.warehouse-table');
        warehouseTableElement.style.height = `${contentHeight - warehouseSortPanelElement.offsetHeight}px`;

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}
