@model ArtWarehouse.Models.ModelsView.GoodsInfoForCard_MV

@{
    ViewData["Title"] = "Склад";
}

<head>
    <link rel="stylesheet" href="/css/warehouse/goods-card.css"/>
</head>

<div class="card-content">
    <div class="card text-center shadow rounded-lg w-75">
        <div class="card-header text-left">
            <h1 class="goodscard-title">@Model.goods_name</h1>
        </div>
        <div class="card-body">
            <h2 class="goodscard-descr text-left">Описание товара:</h2>
            <p class="card-text text-left">@Model.goods_descr</p>
            <h2 class="goodscard-descr text-left">Категория:</h2>
            <p class="card-text text-left">@Model.category_name</p>
            <h2 class="goodscard-descr text-left">Производитель:</h2>
            <p class="card-text text-left">@Model.maker_name</p>
            <a class="btn btn-info w-100" href="#" role="button" onclick="window.history.go(-1)">Закрыть</a>
        </div>
        <div class="card-footer text-muted card-footer goods-card-footer">
            <div class="w-50 text-center">
                Цена за единицу - @Model.goods_price
            </div>
            <div class="w-50 text-center">
                Остаток на складе - @Model.remaining_goods
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        const screenHeight = document.documentElement.clientHeight;
        const header = document.querySelector('.header');
        const contentHeight = screenHeight - header.offsetHeight;

        const contentElement = document.querySelector('.card-content');
        contentElement.style.height = `${contentHeight}px`;

    </script>
}


