@using ArtWarehouse.Services
@model ArtWarehouse.Models.ModelsView.SpecificDocument_MV
@{
    ViewData["Title"] = "Документы";
}

<head>
    <link rel="stylesheet" href="~/css/documents/document.css" />
</head>

<div class="documents-content">
    <div class="doc-header-company-info">
        <span><b>Организация:</b>&nbsp;&nbsp;Фастинтергрупп</span>
        <span><b>ИНН:</b>&nbsp;&nbsp;77755333108108</span>
    </div>
    <div class="doc-main-title">
        @if (Model.type_order == "arrival of goods")
        {
            <h1 class="doc-main-title__type-doc">Приходная накладная&nbsp;№&nbsp;@Model.Id_Order</h1>
        }
        else
        {
            <h1 class="doc-main-title__type-doc">Расходная накладная&nbsp;№&nbsp;@Model.Id_Order</h1>
        }
        <span>от&nbsp;@Model.date_order.ToLongDateString()</span>
    </div>
    <div class="doc-warehouse-info">
        <span class="doc-warehouse-info__text"><b>Склад:</b>&nbsp;Склад№1</span>
    </div>
    <div class="doc-table">
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>№ ПП</th>
                    <th>Наименование</th>
                    <th class="text-center">Ед. изм.</th>
                    <th class="text-center">Цена</th>
                    <th class="text-center">Количество</th>
                    <th class="text-center">Сумма</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 1;} 
                @{double total = 0;} 
                @foreach (var row in Model.GoodsList)
                {
                    <tr class="goods-row">
                        <td class="goods-cell" style="width: 10%">
                            @(i++)
                        </td>
                        <td class="goods-cell" style="width: 30%">
                            @row.goods_name
                        </td>
                        <td class="goods-cell text-center" style="width: 15%">
                            шт.
                        </td>
                        <td class="goods-cell text-center" style="width: 15%">
                            @row.goods_price.ToString("F2")
                        </td>
                        <td class="goods-cell text-center" style="width: 10%">
                            @row.Quantity
                        </td>
                        <td class="goods-cell text-center" style="width: 10%">
                            @((row.Quantity * (int)row.goods_price).ToString("F2"))
                            @{
                                total = total + (row.Quantity * (double)row.goods_price);
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="doc-summary">
        <div class="left-side">
            @if (Model.type_order == "arrival of goods")
            {
                <span >Принято ценностей на сумму:</span>
            }
            else
            {
                <span >Отгружено ценностей на сумму:</span>
            }
        </div>
        <div class="right-side">
            <span><b>Итого:</b></span>
            <span class="total-cell">@total.ToString("F2")</span>
        </div>
    </div>
    <div class="doc-total-by-words">
        <div>@NumberToWords.NumbersPriceToWords_Converter((Math.Round(total * 100) / 100))</div>
    </div>
    <div class="doc-total-by-words__instruction">сумма прописью</div>
    <div class="doc-signatures"></div>
</div>

@* <div class="documents-content">
    <div class="documents-table">
        <div class="document-head mb-3">
            @if (Model.type_order == "arrival of goods")
            {
                <span>Приходный документ&nbsp;№</span>
            }
            else
            {
                <span>Расходный документ&nbsp;№</span>
            }
            <span>@Model.Id_Order</span>
            <span>&nbsp;от&nbsp;@Model.date_order.ToShortDateString()</span>
        </div>

        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th >Наименование</th>
                    <th >Описание</th>
                    <th class="text-center">Производитель</th>
                    <th class="text-center">Категория</th>
                    <th class="text-center">Цена</th>
                    <th class="text-center">Кол-во шт</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var row in Model.GoodsList)
                {
                    <tr class="goods-row">
                        <td class="goods-cell" style="width: 20%">
                            @row.goods_name
                        </td>
                        <td class="goods-cell" style="width: 30%">
                            @row.goods_descr
                        </td>
                        <td class="goods-cell text-center" style="width: 15%">
                            @row.maker_name
                        </td>
                        <td class="goods-cell text-center" style="width: 15%">
                            @row.category_name
                        </td>
                        <td class="goods-cell text-center" style="width: 10%">
                            @row.goods_price
                        </td>
                        <td class="goods-cell text-center" style="width: 10%">
                            @row.Quantity
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Documents" asp-action="Index" class="document-close-btn btn btn-outline-info">Закрыть</a>
    </div>
</div>
 *@
@section Scripts {
    <script>
        const mainTabsEl = document.querySelector('.main-tabs');
        const listTabItems = mainTabsEl.querySelectorAll('.tab-item');

        listTabItems.forEach(item => {
            item.classList.remove('tab-item_active');

            if (item.textContent == 'Документы') {
                item.classList.add('tab-item_active');
            }
        });

        const screenHeight = document.documentElement.clientHeight;
        const header = document.querySelector('.header');
        const contentHeight = screenHeight - header.offsetHeight;

        const contentElement = document.querySelector('.documents-content');
        contentElement.style.height = `${contentHeight}px`;

        const documentsTableElement = document.querySelector('.documents-table');
        documentsTableElement.style.height = `${contentHeight - 2}px`;
    </script>
}