@using ArtWarehouse.Services
@model ArtWarehouse.Models.ModelsView.SpecificDocument_MV
@{
    ViewData["Title"] = "Документы";
}
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />

    <style>
        .documents-content {
            position: relative;
            width: 100%;
            padding: 10px;
        }

        .doc-header-company-info {
            width: 100%;
            padding-top: 10px;
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .doc-btns-panel {
            position: absolute;
            width: 160px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            top: 20px;
            right: 20px;
        }

            .doc-btns-panel > a:not([href]):not([tabindex]) {
                color: #fff;
                cursor: pointer;
            }

        .doc-main-title {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .doc-main-title__type-doc {
            font-size: 30px;
        }

        .doc-warehouse-info {
            padding: 10px;
        }

        .doc-table {
            width: 100%;
            padding: 10px 10px 0 10px;
        }

        .table {
            margin-bottom: 0 !important;
        }

        .doc-summary {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .left-side {
            padding: 25px 10px 0 10px;
        }

        .right-side {
            padding: 10px 10px 0 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .total-cell {
            margin-left: 50px;
            padding: 0 30px;
            font-size: 18px;
            font-weight: 700;
        }

        .doc-total-by-words {
            margin-left: 10px;
            margin-right: 10px;
            padding: 10px 0 3px 0;
            display: flex;
            flex-direction: column;
            font-size: 17px;
            font-weight: 700;
            border-bottom: 2px solid #000;
        }

        .doc-total-by-words__instruction {
            text-align: center;
            font-size: 12px;
        }

        .doc-signatures {
            width: 100%;
            margin-top: 15px;
            padding: 0 10px;
            display: flex;
        }

        .doc-signatures__accepted {
            width: 50%;
            height: 50px;
            display: flex;
        }

        .doc-signatures__accepted-label {
            width: 12%;
            height: 25px;
            font-size: 16px;
            line-height: 25px;
        }

        .doc-signatures__accepted-signature {
            position: relative;
            width: 91%;
            height: 25px;
            border-bottom: 2px solid #333;
        }

        .doc-signatures__accepted-sublabel {
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 12px;
            font-style: italic;
        }

        .doc-signatures__passed {
            width: 50%;
            height: 50px;
            display: flex;
        }

        .doc-signatures__passed-label {
            width: 9%;
            height: 25px;
            font-size: 16px;
            line-height: 25px;
        }

        .doc-signatures__passed-signature {
            position: relative;
            width: 91%;
            height: 25px;
            border-bottom: 2px solid #333;
        }

    </style>
</head>



<div class="documents-content">
    <div class="doc-header-company-info">
        <div><b>Организация:</b>&nbsp;&nbsp;Фастинтергрупп</div>
        <div><b>ИНН:</b>&nbsp;&nbsp;77755333108108</div>
    </div>

    <div class="doc-main-title">
        @if (Model.type_order == "arrival of goods")
        {
            <h1 class="doc-main-title__type-doc" style="text-align: center">Приходная накладная&nbsp;№&nbsp;@Model.Id_Order</h1>
        }
        else
        {
            <h1 class="doc-main-title__type-doc">Расходная накладная&nbsp;№&nbsp;@Model.Id_Order</h1>
        }
        <div style="text-align:center">от&nbsp;@Model.date_order.ToLongDateString()</div>
    </div>
    <div class="doc-warehouse-info">
        <span class="doc-warehouse-info__text"><b>Склад:</b>&nbsp;Склад№1</span>
    </div>
    <div class="doc-table">
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>№ ПП</th>
                    <th>Наименование</th>
                    <th class="text-center">Ед. изм.</th>
                    <th class="text-center">Цена</th>
                    <th class="text-center">Количество</th>
                    <th class="text-center">Сумма</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 1;} 
                @{double total = 0;} 
                @foreach (var row in Model.GoodsList)
                {
                    <tr class="goods-row">
                        <td class="goods-cell" style="width: 10%">
                            @(i++)
                        </td>
                        <td class="goods-cell" style="width: 30%">
                            @row.goods_name
                        </td>
                        <td class="goods-cell text-center" style="width: 15%">
                            шт.
                        </td>
                        <td class="goods-cell text-center" style="width: 15%">
                            @row.goods_price.ToString("F2")
                        </td>
                        <td class="goods-cell text-center" style="width: 10%">
                            @row.Quantity
                        </td>
                        <td class="goods-cell text-center" style="width: 10%">
                            @((row.Quantity * (int)row.goods_price).ToString("F2"))
                            @{
                                total = total + (row.Quantity * (double)row.goods_price);
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="doc-summary">
        <div class="left-side" style="display:inline-block; width:50%">
            @if (Model.type_order == "arrival of goods")
            {
                <span >Принято ценностей на сумму:</span>
            }
            else
            {
                <span >Отгружено ценностей на сумму:</span>
            }
        </div>
        <div class="right-side" style="display:inline-block; width:50%">
            <span><b>Итого:</b></span>
            <span class="total-cell">@total.ToString("F2")</span>
        </div>
    </div>
    <div class="doc-total-by-words">
        <div>@NumberToWords.NumbersPriceToWords_Converter((Math.Round(total * 100) / 100))</div>
    </div>
    <div class="doc-total-by-words__instruction">сумма прописью</div>
    <div class="doc-signatures">
        <div class="doc-signatures__accepted">
            <div class="doc-signatures__accepted-label">Принял</div>
            <div class="doc-signatures__accepted-signature">
                <span class="doc-signatures__accepted-sublabel">Подпись и разборчиво фамилию</span>
            </div>
        </div>
        <div class="doc-signatures__passed">
            <div class="doc-signatures__passed-label">Сдал</div>
            <div class="doc-signatures__passed-signature">
                <span class="doc-signatures__accepted-sublabel">Подпись и разборчиво фамилию</span>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}